<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 - 상세</title>
    <link rel="stylesheet" th:href="@{/css/posts.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="card">
        <div class="header">
            <div>
                <h1 th:text="${post.title}">제목</h1>
                <div class="muted">
                    작성자: <span th:text="${post.author}"></span>
                    · 작성: <span th:text="${post.created}"></span>
                    · 수정: <span th:text="${post.updated}"></span>
                </div>
            </div>

            <div class="actions">
                <a class="btn" th:href="@{|/posts/${post.id}/edit|}">수정</a>
                <form th:action="@{|/posts/${post.id}/delete|}" method="post" style="display:inline;">
                    <button class="btn danger" type="submit">삭제</button>
                </form>
                <a class="btn" th:href="@{/posts}">목록</a>
            </div>
        </div>

        <div class="pre" th:text="${post.content}">내용</div>
    </div>
</div>
</body>
</html>
