<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 - 목록</title>
    <link rel="stylesheet" th:href="@{/css/posts.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="card">
        <div class="header">
            <div>
                <h1>게시글 목록</h1>
                <div class="muted">Spring MVC + JPA + Thymeleaf CRUD</div>
            </div>
            <div class="actions">
                <a class="btn primary" th:href="@{/posts/new}">글쓰기</a>
            </div>
        </div>

        <ul class="list">
            <li th:each="p : ${posts}">
                <div>
                    <a class="title" th:href="@{|/posts/${p.id}|}" th:text="${p.title}"></a>
                </div>
                <div class="meta" th:text="${p.author}"></div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
