<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>글쓰기</title></head>
<body>
<h1>글쓰기</h1>

<form th:action="@{/posts}" method="post" th:object="${postCreateRequest}">
    제목: <input type="text" th:field="*{title}"><br><br>
    작성자: <input type="text" th:field="*{author}"><br><br>
    내용:<br>
    <textarea th:field="*{content}" rows="10" cols="60"></textarea><br><br>
    <button type="submit">등록</button>
</form>

<a th:href="@{/posts}">목록</a>
</body>
</html>
